body {
  background-color: rgb(196, 168, 176);
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  font-size:small;
  line-height:normal
}
h1 {
  color: rgb(93, 37, 49);
  margin-left: 20px;
  font-family:'serif';
  font-size:small;
  line-height:0cap;
}
a:link {
  color: rgb(149, 18, 172);
}
h1{
 font-size: x-large;
 font-family:'Teko';
 color:whitesmoke;
 text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}
.button{
  background-color:#BBC2E2;
  border: 2px solid black;
  border-radius: 8px;
  padding: 4px;
  text-decoration: none;
  color: black;
}
h2{
  font-size:large;
 font-family:'Teko';
 color:#B7A196
}
.button:hover{
  color: blueviolet;
}
.image{
  border-radius: 50%;
  width: 250px;
  height: 300px;
  border: 5px solid #6D696A ;


}
.card{
  background-color:#E2DADB;
  padding: 30px;
  margin: 50px auto;
  width: 500px;
  border-radius: 8%;
  text-align: center;
  border: 5px solid black ;

}
.container{
  margin: auto;
  text-align: center;
}
@media (max-width: 960px) {

  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {

  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {

  .container {
    width: 300px;
  }
}
